{% set property = 'csi-image-version-mapping' %}
{% set k8s_versions = '1.28, 1.29, 1.30, 1.31, 1.32, 1.33' %}
{% set l1_peer_reviewer = '[~dhananjay.nagargoje@oracle.com]' %}
{% set l1_manager_reviewer = '[~mrunal.pagnis@oracle.com]' %}
{% set l2_peer_reviewer = '[~akarsh.ellore.sreenath@oracle.com]' %}
{% set l2_manager_reviewer = '[~sachin.goel@oracle.com]' %}
{% set changelog = '[CPO Release 1.14.0 changelog|https://confluence.oraclecorp.com/confluence/display/OCIOKE/OKE+CPO+Release+-+Version+%3A+v1.14.0]' %}
{% set pr = '[PR Link|https://bitbucket.oci.oraclecorp.com/projects/OKE/repos/oci-cloud-controller-manager/pull-requests/1822/overview]' %}
{% set e2e_ticket = '[E2E results|https://jira.oci.oraclecorp.com/browse/OKE-39472]' %}
{% set app_release_name = 'GammaRaven' %}
{% set app_flock_config = '[https://devops.oci.oraclecorp.com/shepherd/projects/oke/flocks/oke-ccm-csi/configs/a89d8954-ce10-48c3-8825-3de6716117c8]' %}
{% set infra_release_name = 'GammaSecret' %}
{% set infra_flock_config = '[https://devops.oci.oraclecorp.com/shepherd/projects/oke/flocks/oke-ccm-csi/configs/a89d8954-ce10-48c3-8825-3de6716117c8]' %}
{% set app_rollforward_test_link = 'https://devops.oci.oraclecorp.com/t/DI9hcX' %}
{% set infra_rollforward_test_link = 'https://devops.oci.oraclecorp.com/t/nvaBiU' %}
{% set infra_rollback_release_name = 'GammaOrganic' %}
{% set infra_rollback_test_link = 'https://devops.oci.oraclecorp.com/shepherd/projects/oke/flocks/oke-ccm-csi/releases/7840635a-0185-4605-98ba-906e4eb849f6' %}
{% set infra_rollback_config = '5c133ea6-0dd7-4f63-8797-ed178d2db098' %}
{% set infra_rollback_config_link = 'https://devops.oci.oraclecorp.com/t/AesrvX' %}
{% set infra_rollback_commit = '56c0ab26' %}
{% set infra_rollback_commit_link = 'https://bitbucket.oci.oraclecorp.com/projects/oke/repos/oci-cloud-controller-manager/commits/56c0ab263307cc159c911a195b7b800c7a5dc940' %}

{% macro images_list() %}
    "oke-public-cloud-provider-oci": "v1.28-79d4f40b682-84",
    "oke-public-cloud-provider-oci": "v1.29-393f7c992a6-112",
    "oke-public-cloud-provider-oci": "v1.30-b38c1eb59d9-122",
    "oke-public-cloud-provider-oci": "v1.31-ae10afe1fb6-88",
    "oke-public-cloud-provider-oci": "v1.32-3fd404a8f60-58",
    "oke-public-cloud-provider-oci": "v1.33-46dbdee2d2b-28",
{%- endmacro %}

{% macro mapping_changes() %}
    "v1.28" : "v1.28-79d4f40b682-84@sha256:d8e0957a384781955a1e6b1dfb5498fa8ffb585face9a407486692ca685343fa",
    "v1.29" : "v1.29-393f7c992a6-112@sha256:cfc0512abe6e31a1e6020e45ebd7e79f89dc8f7bf5edc2655757762d5c662886",
    "v1.30" : "v1.30-b38c1eb59d9-122@sha256:8d9bdc648e85a02e74599c965bca488c4ed04193356ed666fda2be28b7f6f3c6",
    "v1.31" : "v1.31-ae10afe1fb6-88@sha256:083f183d8ad08a218b161e109e4016f0fc91786438e128e372bb2f2b432a25b8",
    "v1.32" : "v1.32-3fd404a8f60-58@sha256:d1afbede2dfbbe5ba390910e264c03db1ed463b2c41ee1001e6f97b8fc613153",
    "v1.33" : "v1.33-46dbdee2d2b-28@sha256:4b05431430352f832d0bda9bd2bb2fed9121f842d34a8e42a6b9f3a49cffb826"
{%- endmacro %}

{% macro rollback_mapping() %}
    "v1.28" : "v1.28-79d4f40b682-84@sha256:d8e0957a384781955a1e6b1dfb5498fa8ffb585face9a407486692ca685343fa",
    "v1.29" : "v1.29-393f7c992a6-112@sha256:cfc0512abe6e31a1e6020e45ebd7e79f89dc8f7bf5edc2655757762d5c662886",
    "v1.30" : "v1.30-b38c1eb59d9-122@sha256:8d9bdc648e85a02e74599c965bca488c4ed04193356ed666fda2be28b7f6f3c6",
    "v1.31" : "v1.31-ae10afe1fb6-88@sha256:083f183d8ad08a218b161e109e4016f0fc91786438e128e372bb2f2b432a25b8",
    "v1.32" : "v1.32-3fd404a8f60-58@sha256:d1afbede2dfbbe5ba390910e264c03db1ed463b2c41ee1001e6f97b8fc613153",
    "v1.33" : "v1.33-46dbdee2d2b-28@sha256:4b05431430352f832d0bda9bd2bb2fed9121f842d34a8e42a6b9f3a49cffb826"
{%- endmacro %}

{% set change_locations = [
"OC1-af-johannesburg-1",
"OC1-ap-batam-1",
"OC1-ap-chuncheon-1",
"OC1-ap-hyderabad-1",
"OC1-ap-kulai-1",
"OC1-ap-melbourne-1",
"OC1-ap-mumbai-1",
"OC1-ap-osaka-1",
"OC1-ap-seoul-1",
"OC1-ap-singapore-1",
"OC1-ap-singapore-2",
"OC1-ap-sydney-1",
"OC1-ap-tokyo-1",
"OC1-ca-montreal-1",
"OC1-ca-toronto-1",
"OC1-eu-amsterdam-1",
"OC1-eu-dublin-3",
"OC1-eu-frankfurt-1",
"OC1-eu-madrid-1",
"OC1-eu-marseille-1",
"OC1-eu-milan-1",
"OC1-eu-paris-1",
"OC1-eu-stockholm-1",
"OC1-eu-zurich-1",
"OC1-il-jerusalem-1",
"OC1-me-abudhabi-1",
"OC1-me-dubai-1",
"OC1-me-jeddah-1",
"OC1-me-riyadh-1",
"OC1-mx-monterrey-1",
"OC1-mx-queretaro-1",
"OC1-sa-bogota-1",
"OC1-sa-santiago-1",
"OC1-sa-saopaulo-1",
"OC1-sa-valparaiso-1",
"OC1-sa-vinhedo-1",
"OC1-uk-cardiff-1",
"OC1-uk-london-1",
"OC1-us-abilene-1",
"OC1-us-ashburn-1",
"OC1-us-boardman-1",
"OC1-us-chicago-1",
"OC1-us-dallas-1",
"OC1-us-desmoines-1",
"OC1-us-phoenix-1",
"OC1-us-quincy-1",
"OC1-us-saltlake-2",
"OC1-us-sanjose-1",
"OC1-us-shawnee-1",
"OC10-ap-dcc-canberra-1",
"OC11-us-gov-fortworth-3",
"OC11-us-gov-phoenix-3",
"OC11-us-gov-sterling-3",
"OC14-eu-dcc-dublin-1",
"OC14-eu-dcc-dublin-2",
"OC14-eu-dcc-milan-1",
"OC14-eu-dcc-milan-2",
"OC14-eu-dcc-rating-1",
"OC14-eu-dcc-rating-2",
"OC15-ap-dcc-gazipur-1",
"OC16-us-westjordan-1",
"OC17-us-dcc-phoenix-1",
"OC17-us-dcc-phoenix-2",
"OC17-us-dcc-phoenix-4",
"OC19-eu-frankfurt-2",
"OC19-eu-madrid-2",
"OC2-us-langley-1",
"OC2-us-luke-1",
"OC20-eu-jovanovac-1",
"OC21-me-dcc-doha-1",
"OC22-eu-dcc-rome-1",
"OC23-us-somerset-1",
"OC23-us-thames-1",
"OC24-eu-crissier-1",
"OC24-eu-dcc-zurich-1",
"OC25-ap-dcc-osaka-1",
"OC25-ap-dcc-tokyo-1",
"OC26-me-abudhabi-3",
"OC26-me-alain-1",
"OC27-us-dcc-swjordan-1",
"OC28-us-dcc-swjordan-2",
"OC29-me-abudhabi-2",
"OC29-me-abudhabi-4",
"OC3-us-gov-ashburn-1",
"OC3-us-gov-chicago-1",
"OC3-us-gov-phoenix-1",
"OC31-ap-hobsonville-1",
"OC31-ap-silverdale-1",
"OC35-ap-chuncheon-2",
"OC35-ap-seoul-2",
"OC35-ap-suwon-1",
"OC39-us-tukwila-3",
"OC4-uk-gov-cardiff-1",
"OC4-uk-gov-london-1",
"OC40-ap-osaka-2",
"OC40-ap-tatebayashi-1",
"OC41-me-dubai-2",
"OC41-me-dubai-3",
"OC5-us-tacoma-1",
"OC51-eu-budapest-1",
"OC6-us-gov-fortworth-1",
"OC6-us-gov-sterling-2",
"OC8-ap-chiyoda-1",
"OC8-ap-ibaraki-1",
"OC9-me-dcc-muscat-1",
"REGION1-us-seattle-1"
] %}
